/*Question and answer container*/
.container{
    position: relative;
    text-align: left;
    color: azure;
    top: 25px;
    width: 1500px;
    height: auto;
    background-color: #1f33c2;
    margin-bottom: 15px;
}

h1{
    font-family: 'Acme', sans-serif;
    font-size: 72pt;
    text-align: center;
}

h2{
    font-family: 'Acme', sans-serif;
    font-size: 40pt;
}

h3{
    font-family: 'Source Serif Pro', serif;
    font-size: 20pt;
}

#time{
    color: yellow;
    font-family: 'Signika', sans-serif;
    font-size: 40pt;
    text-align: center;
}

#submitButton{
    padding-bottom: 10px;
    display: none;
    align-content: center;
}

#button{
    background-color: yellow;
    color: blue;
}

#results {
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 35pt;
}

#retry{
    display: none;
}

h4{
    font-family: 'Acme', sans-serif;
    font-size: 72pt;
    text-align: center;
    color: red;
}

h5{
    font-family: 'Acme', sans-serif;
    font-size: 72pt;
    text-align: center;
    color: yellow;
}

